<div class="m-partner-card" title="{{ partner_name }}">
  <div class="m-partner-card__inner">
    <a href="{{ partner_url }}" class="m-partner-card__logo js-lazy-bg" data-original="{{ logo }}"></a>
    {% include "@molecules/stars/stars.twig"
    with {
    rating: rating,
    show_rating: 1
    }
    %}
  </div>
  <div class="m-partner-card__aside">
    <div class="m-partner-card__link">
      <div class="a-color-green a-type--base">{{ dishes_count }}</div>
      блюд
    </div>
    <div class="m-partner-card__link">
      <div class="a-color-green a-type--base">{{ completed_orders_count }}</div>
      заказов
    </div>
  </div>
</div>
